<div>
	<div class="float-left">
		{% if wizard.steps.prev %}
			{% if not wizard.steps.index == 1 %}
				<button name="wizard_goto_step" class="btn btn-dark btn-lg my-2" type="submit" value="{{ wizard.steps.first }}" formnovalidate="formnovalidate">
					<i class="fab fa-first-order"></i>
					&nbsp;
					First Step
				</button>				
			{% endif %}
			<button name="wizard_goto_step" class="btn btn-outline-dark btn-lg my-2" type="submit" value="{{ wizard.steps.prev }}" formnovalidate="formnovalidate">
				<i class="fas fa-long-arrow-alt-left"></i>
				&nbsp;
				Previous
			</button>
		{% endif %}
	</div>
	<div class="float-right">
		{% if wizard.steps.next %}
			{% if skippable %}				
			<button type="submit" class="btn btn-outline-primary btn-lg my-2" value="Next" formnovalidate="formnovalidate">
				<i class="fas fa-long-arrow-alt-right"></i>
				&nbsp;
				Skip
			</button>
			{% endif %}

			<button type="submit" class="btn btn-danger btn-lg my-2" value="Next">
				<i class="fas fa-sign-in-alt"></i>
				&nbsp;
				Next
			</button>
			
		{% else %}
			<button type="submit" class="btn btn-outline-primary btn-lg my-2" value="Submit" formnovalidate="formnovalidate">
				<i class="fas fa-long-arrow-alt-right"></i>
				&nbsp;
				Skip
			</button>

			<button type="submit" class="btn btn-primary btn-lg my-2" value="Submit">
				<i class="fas fa-check-circle"></i>
				&nbsp;
				Submit
			</button>
		{% endif %}
	</div>
</div>
