{% extends "users/onboarding/wizard_layout.html" %}
{% load crispy_forms_tags %}
{% block wizard_content %}
<p>Add the required basic details about your company in the form below.</p>
<form method="POST">
    {% csrf_token %}            
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
      {{ wizard.form.management_form }}
      {% for form in wizard.form.forms %}
        {% crispy form %}
      {% endfor %}
    {% else %}              
      {% crispy wizard.form %}
    {% endif %}
</form>
	
{% endblock wizard_content %}
{% block customjs %}
  <script>
    $('#company-info-header').addClass('active');
    $(window).resize(function() {
      if ($(this).width() < 768) {
        $('.list-inline-item:not(#company-info-header)').hide();
      }
      else{
        $('.list-inline-item').show();
      }      
    }); 
  </script>
{% endblock customjs %}