{% extends "users/onboarding/wizard_layout.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}

{% block wizard_content %}
<p>Add information regarding your company's ownership. This is for the purposes of financing pre-qualification and/or financing for your current orders.</p>
<form method="POST">
  {% csrf_token %}            
        {{ wizard.management_form }}
          {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            <div id="responsive">
              <table class="table table-sm">
                {% for form in wizard.form.forms %}
                    {% if forloop.first %}
                        <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                            <th></th>
                        </tr>
                        </thead>
                    {% endif %}
                    <tr class="border-bottom {% cycle 'row1' 'row2' %} formset_row">
                      {{form.id}}
                      {% for field in form.visible_fields %}
                          <td>
                              {# Include the hidden fields in the form #}
                              {% if forloop.first %}
                                  {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                  {% endfor %}
                              {% endif %}
                              {{ field.errors.as_ul }}
                              <div >                                    
                                {{ field|add_class:'form-control form-control-sm onboarding-field' }}
                              </div>
                          </td>
                      {% endfor %}
                      <td></td>
                    </tr>
                {% endfor %}
              </table>
            </div>
              
            {% else %}
              <div class="form-row">
                <div class="col">{{form|crispy}}</div>
              </div>
          {% endif %}
  {% include "users/onboarding/_buttons.html" %}
</form>
{% endblock wizard_content %}
{% block customjs %}
<script src="{% static 'js/formset.js' %}"></script>
<script>
  $(document).ready(function(){
    
    $('.formset_row').formset({
      prefix: '{{wizard.form.prefix}}',
      addText: '<button class="btn btn-sm btn-outline-success"><i class="fas fa-plus-circle"></i> &nbsp; Add Director</button>',
      deleteText: '<button class="btn btn-sm btn-danger">&times;</button>',
    });
    $('#company-info-header').append('&nbsp;<sup><i class="fas fa-check-circle text-success"></i></sup>');
    $('#company-info-header').addClass('text-success')
    $('#ownership-header').addClass('active');
    
  });
</script>  
{% endblock customjs %}