{% extends "users/profile/profile_layout.html" %}
{% load crispy_forms_tags %}
{% block profile_content %}
<p>Update Profile.</p>
<form method="POST">
    {% csrf_token %}            
    {% crispy documents_form %}
</form>
	
{% endblock profile_content %}
{% block customjs %}
  
{% endblock customjs %}