{% extends "layout.html" %}
{% block content %}
<p>Here's the profile Layout</p>
<a href="{% url 'profile' %}?tab=company-info">Basic Company Details</a>
<a href="{% url 'profile' %}?tab=ownership">Ownership</a>
<a href="{% url 'profile' %}?tab=documentations">Documentation</a>
{{user.company}}
{% block profile_content %}
	
{% endblock profile_content %}

{% endblock content %}
{% block customjs %}
	
{% endblock customjs %}