

<form method="post" action="">
  {% csrf_token %}

 <div class="modal-header">
    <h5 class="modal-title">Confirm deletion</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    Are you sure you want to delete the financial request?
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-danger btn-sm">Yes, delete!</button>
  </div>

</form>
