{% extends "layout.html" %}
{% load static %}
{% block customjs %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#create-deal").modalForm({
			formURL: "{% url 'concluded-deals-create' %}"
		});
		$("#deal-excel").modalForm({
			formURL: "{% url 'upload' %}"
		});
		$(".edit-deal").each(function(){
			$(this).modalForm({
				formURL:  $(this).data('id')
			});
		});
		$(".approve-deal").each(function(){
			$(this).modalForm({
				formURL:  $(this).data('id')
			});
		});
		$(".delete-deal").each(function(){
			$(this).modalForm({
				isDeleteForm: true,
				formURL:  $(this).data('id')
			});
		});
	});
	
</script>
{% endblock customjs %}
{% block content %}
<h1>Concluded deals list view</h1>
{% if messages %}
<ul class="messages">
{% for message in messages %}
<li>{{message}}</li>
{% endfor %}
</ul>
{% endif %}
{% if object_list %}
<p>Your concluded deals</p>
<ol>
{% for deal in object_list %}
	<li style="margin-bottom: 5px;">Deal to customer {{deal.customer}}.
		<button class="btn btn-sm btn-primary edit-deal"  data-id="{% url 'deal-update' pk=deal.id %}">
			Edit deal
		</button>
		
		<button class="btn btn-danger btn-sm delete-deal"   data-id="{% url 'deal-delete' pk=deal.id %}">
			Delete deal
		</button>
		{% if not deal.is_approved %}
		<button class="btn btn-success btn-sm approve-deal"data-id="{% url 'deal-approve' pk=deal.id %}" >Approve deal</button>
		{% endif %}
		{% if not deal.is_verified %}
		<button class="btn btn-sm btn-primary verify-deal">Verify deal</button>
		{% endif %}
		
	</li>
{% endfor %}
</ol>
{% else %}
<p>You don't have any concluded deals yet.</p>
{% endif %}

<button id="create-deal" class="btn btn-primary btn-sm" type="button" name="button">
	Add a concluded deal
</button>
<button id="deal-excel" class="btn btn-primary btn-sm">Upload Excel file containing deals</button>
{% endblock content %}
