{% extends "layout.html" %}
{% load static %}
{% block customjs %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#create-request").modalForm({
			formURL: "{% url 'requests-create' %}"
		});
	});

	$("#edit-request").each(function(){
		$(this).modalForm({
			formURL:  $(this).data('id')
		});
	});
	$("#delete-request").each(function(){
		$(this).modalForm({
			isDeleteForm: true,
			formURL:  $(this).data('id')
		});
	});
	
</script>
{% endblock customjs %}
{% block content %}
<h1>Your financial requests</h1>
{% if messages %}
<ul class="messages">
{% for message in messages %}
<li>{{message}}</li>
{% endfor %}
</ul>
{% endif %}
{% if object_list %}
<ol>
{% for request in object_list %}
	<li>
		Request for deal to customer {{request.deal.customer}}
		<button class="btn btn-primary btn-sm" id="edit-request" data-id="{% url 'requests-update' pk=request.id %}">
			Edit request
		</button>
		<button class="btn btn-danger btn-sm" id="delete-request"  data-id="{% url 'request-delete' pk=request.id %}" >
			Delete request
		</button>
		
	</li>
	
{% endfor %}
</ol>
{% else %}
<p>You have not made any financial requests.</p>
{% endif %}

<button id="create-request" class="btn btn-primary btn-sm" type="button" name="button">
	Create a financial request
</button>
{% endblock content %}
